
body
{
	background-color: #ffffff;
	background-image: url('../img/smokyfall.jpg');
	background-position: top left;
	background-repeat: no-repeat;
	background-size: 100%;					
}

@font-face {
    font-family: 'fab';
    src: url('../fonts/FontAwesomeBrands-Regular-webfont.eot');
    src: url('../fonts/FontAwesomeBrands-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/FontAwesomeBrands-Regular-webfont.woff') format('woff'),
         url('../fonts/FontAwesomeBrands-Regular-webfont.ttf') format('truetype'),
         url('../fonts/FontAwesomeBrands-Regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'weather';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot');
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.woff') format('woff'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.ttf') format('truetype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  font: 13px 'Open Sans', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

i {
  color: #fff;
  font-family: weather;
  font-size: 50px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.0;
}

.icon-0:before { content: ":"; }
.icon-1:before { content: "p"; }
.icon-2:before { content: "S"; }
.icon-3:before { content: "Q"; }
.icon-4:before { content: "S"; }
.icon-5:before { content: "W"; }
.icon-6:before { content: "W"; }
.icon-7:before { content: "W"; }
.icon-8:before { content: "W"; }
.icon-9:before { content: "I"; }
.icon-10:before { content: "W"; }
.icon-11:before { content: "I"; }
.icon-12:before { content: "I"; }
.icon-13:before { content: "I"; }
.icon-14:before { content: "I"; }
.icon-15:before { content: "W"; }
.icon-16:before { content: "I"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "Z"; }
.icon-20:before { content: "Z"; }
.icon-21:before { content: "Z"; }
.icon-22:before { content: "Z"; }
.icon-23:before { content: "Z"; }
.icon-24:before { content: "E"; }
.icon-25:before { content: "E"; }
.icon-26:before { content: "3"; }
.icon-27:before { content: "a"; }
.icon-28:before { content: "A"; }
.icon-29:before { content: "a"; }
.icon-30:before { content: "A"; }
.icon-31:before { content: "6"; }
.icon-32:before { content: "1"; }
.icon-33:before { content: "6"; }
.icon-34:before { content: "1"; }
.icon-35:before { content: "W"; }
.icon-36:before { content: "1"; }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "M"; }
.icon-41:before { content: "W"; }
.icon-42:before { content: "I"; }
.icon-43:before { content: "W"; }
.icon-44:before { content: "a"; }
.icon-45:before { content: "S"; }
.icon-46:before { content: "U"; }
.icon-47:before { content: "S"; }


#nashville, #charleston, #stclair {
  text-align: center;
}

#nashville h2, #charleston h2, #stclair h2 {
  margin: 0 0 8px;
  color: #fff;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}

#nashville .location, #charleston .location, #stclair .location {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}

#nashville ul, #charleston ul, #stclair ul {
  margin: 0;
  padding: 0;
}

#nashville li, #charleston li, #stclair li {
  background: #fff;
  background: rgba(255,255,255,0.90);
  padding: 5px;
  display: inline-block;
  border-radius: 5px;
}

#nashville .currently, #charleston .currently, #stclair .currently {
  margin: 0 5px;
}	

.weather {
  /*background-image: url('../img/black_transparent.png');*/
  background-position: top left;
  background-repeat: repeat;
}

.trans_white {
    background-color: transparent;
    border-color: white;
    color: white;
}
.btn:hover, .btn:focus {
    color: whitesmoke;
}
.form-control:focus {
    border-color: whitesmoke;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,.075),0 0 8px rgba(245,245,245,.6);
    box-shadow: inset 0 1px 1px rgba(255,255,255,.075),0 0 8px rgba(245,245,245,.6);
}
::-webkit-input-placeholder {
    color: #ffffff;
}
:-moz-placeholder {
    /* FF 4-18 */
    color: #ffffff;
}
::-moz-placeholder {
    /* FF 19+ */
    color: #ffffff;
}
:-ms-input-placeholder {
    /* IE 10+ */
    color: #ffffff;
}
.covervid-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.table {
    width: 50%;
    margin: auto;
    float: none;
}
.table a {
    color: #000;
    text-decoration: underline;
}