<!-- jQuery -->
<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<script>
  // keep link in app window
  $("a").click(function (event) {
    event.preventDefault();
    window.location = $(this).attr("href");
  });

  // tabs
  $('#hikingTabs a').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
  });

  // google analytics
  $(document).ready(function() {
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-56250616-1','auto');ga('send','pageview');
  });
</script>
