<nav class="navbar navbar-default navbar-static-top" role="navigation">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
			    aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
			<a class="navbar-brand" href="/"><img src="img/Chair.png" height="20" width="20" /></a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a href="http://mail.lezotte.net"><i class="fa fa-envelope" aria-hidden="true"></i> Mail</a></li>
				<li><a href="http://calendar.lezotte.net"><i class="fa fa-calendar" aria-hidden="true"></i> Calendar</a></li>
				<li><a href="http://drive.lezotte.net"><i class="fa fa-hdd-o" aria-hidden="true"></i>
Drive</a></li>
				<li><a href="https://www.icloud.com/"><i class="fa fa-apple" aria-hidden="true"></i> iCloud</a></li>
				<li><a href="hiking.html"><i class="fa fa-tint" aria-hidden="true"></i> Hiking</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-wrench"></span> <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="https://www.google.com/calendar/syncselect">Google Calendar Sync</a></li>
						<li><a href="https://www.google.com/settings/personalinfo">Google Settings</a></li>
						<li class="divider"></li>
						<li><a href="https://domains.google.com/registrar#d=lezotte.net&chp=d">Google Domains</a></li>
						<li><a href="https://github.com/tlezotte/lezotte">github</a></li>
						<li><a href="https://www.google.com/analytics/web/?et&authuser=0#report/visitors-overview/a56250616w89644123p93169421/">Google Analytics</a></li>
					</ul>
				</li>

			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>
